@model IEnumerable<DTC2154801010010.Models.ThongTinGiay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Loai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Loai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TTGiay }) |
            @Html.ActionLink("Details", "Details", new { id=item.TTGiay }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TTGiay })
        </td>
    </tr>
}

</table>
